<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <a class="navbar-brand h5 ml-3" routerLink="">Daniil Gruk LABS</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-5">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/user">My page</a>
      </li>
      <li class="nav-item">
        <a class="btn text-white" (click)="openModal(addUserModal)">Add user</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link text-white" routerLink="/labs">Theoretical material on laboratory</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link text-white" routerLink="/labs">Questions</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>


<ng-template #addUserModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add user</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <form>
        <div class="form-group">
          <label for="nameInput">Name</label>
          <input type="text" id="nameInput" class="form-control"  name="userName" [(ngModel)]="user.userName"/>
        </div>
        <div class="form-group">
          <label for="surnameInput">Surname</label>
          <input type="text" id="surnameInput" class="form-control" name="userSurname"[(ngModel)]="user.userSurname"/>
        </div>
        <div class="form-group">
          <label for="emailInput">Email</label>
          <input type="email" id="emailInput" class="form-control" name="userSurname" [(ngModel)]="user.email"/>
        </div>
        <div class="form-group">
          <label for="roleSelect">Role</label>
          <select class="form-control" id="roleSelect" name="roleSelect"
                  #role>
            <option *ngFor="let role of roles"
                    [value]="role.idrole">{{role.role}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="loginInput">Login</label>
          <input type="text" id="loginInput" class="form-control" name="userLogin"[(ngModel)]="user.login"/>
        </div>
        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input type="password" id="passwordInput" class="form-control" name="userPassword" [(ngModel)]="user.password"/>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
    <button class="btn btn-primary" (click)="addUser(role)">Add user</button>
  </div>
</ng-template>
